mixin Profile
  +Section('container-fluid').py-0#page-profile
    .row
      .col-xl-7.px-0
        .sticky-top.overflow-hidden.min-vh-50.min-vh-xl-100
          +Background({
            image: `${CWD}assets/img/oppkey/bob.jpeg`,
            attrs: {'data-zanim-trigger': 'scroll', 'data-zanim-lg': {animation: 'zoom-out-slide-right', delay: 0.4}}
          })

      .col-xl-5.bg-white.py-6
        .row.h-100.flex-center
          .col-lg-8
            +ProfileContent

mixin ProfileContent
  .row.justify-content-center(data-zanim-timeline!={} data-zanim-trigger='scroll')
    .col-md-10.col-lg-12
      .overflow-hidden
        h4(data-zanim-xs!={delay: 0.1}) Robert Katter
      .overflow-hidden
        a(href='https://community.theta360.guide/t/preview-mjpeg-stream-on-a-ricoh-theta-x-with-python-and-opencv/8919/') 
          h6.text-700.fw-normal.text-uppercase.ls.mb-4(data-zanim-xs!={delay: 0.2}) @katterr
    .col-md-7.col-lg-12
      .overflow-hidden
        p.mb-20.pe-sm-5.pe-lg-0(data-zanim-xs!={delay: 0.3}) Preview MJPEG Stream on a Ricoh Theta X with Python and OpenCV. Robert made a live MJPEG preview running over a USB-C ethernet adapter to the Ricoh Theta X.
        img(src=`${CWD}assets/img/oppkey/RicohMJPGPhyton.png` alt="" data-zanim-xs!={
                animation: "zoom-in",
                delay: 0.2,
              } data-zanim-trigger="scroll").rounded.img-fluid

    //-   .overflow-hidden
    //-     div(data-zanim-xs!={delay: 0.6})
    //-       h6.text-uppercase.ls.mt-4 Follow Me

    //-       .mt-3.fs--1
    //-         a(href='#!').btn.btn-outline-light.btn-xs.border-300.me-2
    //-           span.fab.fa-twitter.text-600
    //-         a(href='#!').btn.btn-outline-light.btn-xs.border-300.me-2
    //-           span.fab.fa-google-plus-g.text-600
    //-         a(href='#!').btn.btn-outline-light.btn-xs.border-300
    //-           span.fab.fa-linkedin-in.text-600
