extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetailJson.pug

block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

append mainContent
  - 
    const data = {
      "project": "USB API for Photogrammetry", 
      "author": "DalHo Park",
      "details": "DalHo and his team at TeeVR are building a handheld indoor scanner using \
      THETA Z1. They are using the USB API to live stream. In testing the API, \
      they discovered that an Image Stitching API command can be set to \
      no-stitching (dual-fisheye). The feature was added in the latest Z1 \
      firmware update (v2.10.3, released May 31, 2022) but the RICOH \
      documentation about this feature was not updated (0xD834 Image Stitching 3).",
      "referenceLink": "https://community.theta360.guide/t/a-patch-for-getting-right-human-readable-white-balance-label/8245?u=craig",
      "image": "park2.png"
    }
  +AwardDetailJson(data)