extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetail.pug

append mainContent  
  +AwardDetail("Live Preview Over Ethernet", 
  "Robert Katter",
  "Preview MJPEG Stream on a Ricoh Theta X with Python and OpenCV. \
  Robert made a live MJPEG preview running over a USB-C ethernet \
  adapter to the Ricoh Theta X.",
  "https://community.theta360.guide/t/preview-mjpeg-stream-on-a-ricoh-theta-x-with-python-and-opencv/8919",
  "detail-sample.jpg"
  )