extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetailJson.pug

block beforeMainContent
  +FancyNav({navClass: 'fancynavbar-left'})(data-onscroll-fade-in = 'true')

append mainContent
  -
    const data = {
      "project": "Live Preview Over Ethernet",
      "author": "Robert Katter",
      "details":   "RICOH THETA cameras can do live streaming 4K or it's possible to \
      use the live preview function to do live streaming at 2K. \
      This is an excellent way to prototype or for using live streaming \
      when 2K 360 agree video works for the use case. Robert wrote his app in Python \
      using OpenCV to display the MJPEG stream. It runs over a USB-C ethernet adapter \
      to the Ricoh Theta X. Full Python code available to the community.",
      "referenceLink": "https://community.theta360.guide/t/preview-mjpeg-stream-on-a-ricoh-theta-x-with-python-and-opencv/8919",
      "image": "kutter2.png"
    }
  +AwardDetailJson(data)