extends ../layouts/LayoutTheme
include ../mixins/pages/AwardDetail.pug

append mainContent  
  +AwardDetail(
    "THETA X Plug-in Development Tips", 
    "Laszlo B. Varga",
    "Laszlo is developing a mobile wireless streaming application \
    for RICOH THETA that will allow people to better view museums \
    and public spaces. His THETA plug-in is available on the RICOH \
    THETA Plug-in Store. He has significantly improved the speed of \
    the wireless mobile plug-in, which can stream live 360 video \
    to an RTMP server like YouTube directly from THETA Z1. Setup \
    is done through his flow.tours site. He is currently improving \
    his plug-in and has added the ability to access log output, \
    which is turned off in plug-in development by default. He has \
    also shown how to set permissions for THETA X plug-in development. \
    X is different from Z1 and V because you can’t use Vysor to set permissions.",
    "https://community.theta360.guide/t/wireless-live-streaming-plug-in-source-code-updated-for-theta-x/8040/8",
    "detail-placeholder-1.jpg"
  )